h1{
  color: #7f8fa6;
  margin: 70px;


}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
}

.memory-game {
  width: 840px;
  height: 840px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.box2 {
  width: 440px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  background-color: #fbc531;
}

.Card {
 width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;

  transform: scale(1);
  transform-style: preserve-3d;
 transition: transform .5s;
}

.Card:active {
  transform: scale(0.97);
  transition: transform .2s;
}


.Card.flip {
  transform: rotateY(180deg);
}

.main,
.cover {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;

  backface-visibility: hidden;
}

.main {
  transform: rotateY(180deg);
}
